<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from demo.dashboardpack.com/user-management-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Dec 2023 13:29:04 GMT -->

<head>
    {{> header}}
</head>

<body class="crm_body_bg">


    <nav class="sidebar">
        {{> sidebar}}
    </nav>

    <section class="main_content dashboard_part large_header_bg">

        <div class="container-fluid g-0">
            {{> main_header}}
        </div>

        <div class="main_content_iner overly_inner ">
            <div class="container-fluid p-0 ">

                {{> dashboard_analytics}}
                <div class="row">
                    <div class="col-12 m-auto mt-5">
                        <div class="white_card card_height_100 mb_30">
                            <div class="white_card_header">
                                <div class="box_header m-0">
                                    <div class="main-title">
                                        <h3 class="m-0">Update Shift </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="white_card_body">
                                <form id="update-shift-form">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{#shift}}
                                            <div class="common_input mb_15">
                                                <input type="text" id="name" name="name" placeholder="Enter shift name"
                                                    style="border: 1px solid #5b6ce1;" value="{{this.name}}">
                                                <div class="m-2" id="invalid-name"
                                                    style="color: #BA0021;font-weight:bold;">
                                                </div>
                                            </div>
                                            <label for="start" class="m-2"><b>Start Time:</b></label>
                                            <div class="common_input mb_15">
                                                <input type="time" id="start" name="start"
                                                    placeholder="Choose shift start time"
                                                    style="border: 1px solid #5b6ce1;" value="{{this.timings.start}}">
                                                <div class="m-2" id="invalid-name"
                                                    style="color: #BA0021;font-weight:bold;">
                                                </div>
                                            </div>
                                            <label for="end" class="m-2"><b>End Time:</b></label>
                                            <div class="common_input mb_15">
                                                <input type="time" id="end" name="end"
                                                    placeholder="Choose shift end time"
                                                    style="border: 1px solid #5b6ce1;" value="{{this.timings.end}}">
                                                <div class="m-2" id="invalid-name"
                                                    style="color: #BA0021;font-weight:bold;">
                                                </div>
                                            </div>
                                            {{/shift}}
                                            <div class="col-12 col-lg-2 col-md-3 col-sm-4 col-xs-12 float-end">
                                                <div class="create_report_btn mt_30">
                                                    <a type="submit" id="update-shift-button"
                                                        class="btn_1 radius_btn d-block text-center">Submit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{> main_footer}}
    </section>


    {{> chat_popup_box}}


    <div id="back-top" style="display: none;">
        {{> back_to_top}}
    </div>

    {{> footer}}
</body>

<!-- Mirrored from demo.dashboardpack.com/user-management-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Dec 2023 13:29:54 GMT -->

</html>