<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from demo.dashboardpack.com/user-management-html/error_400.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Dec 2023 13:30:20 GMT -->

<head>
    {{> header}}
</head>

<body>
    <div class="erroe_page_wrapper">
        <div class="errow_wrap">
            <div class="container text-center">
                <img src="/img/bak_hovers/sad.png" alt>
                <div class="error_heading  text-center">
                    <h3 class="headline color_parpel2">500</h3>
                </div>
                <div class="col-md-8 offset-md-2 text-center">
                    <p>Something went wrong</p>
                </div>
                <div class="error_btn  text-center">
                    <a class=" default_btn parpel_bg2 " href="/dashboard">Back Home</a>
                </div>
            </div>
        </div>
    </div>

    {{> footer}}

</body>

<!-- Mirrored from demo.dashboardpack.com/user-management-html/error_400.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Dec 2023 13:30:21 GMT -->

</html>