<div class="box_right d-flex lms_block">
    {{!-- <div class="serach_field_2">
        <div class="search_inner">
            <form Active="#">
                <div class="search_field">
                    <input type="text" placeholder="Search content here...">
                </div>
                <button type="submit"> <i class="ti-search"></i> </button>
            </form>
        </div>
    </div>
    <div class="add_button ms-2">
        <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">search</a>
    </div> --}}
</div>